<!--ACA CORREMOS LA APP DESDE LA WEB  -->
<!-- Th:VALUE: ES PARA TRAER DATOS DE LA BASE DE DATOS;  th:Text: ES PARA TRAER DATOS DEL CONTROLLER model.addAttribute("Saludos", "Hola bienvenidos")-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--esta linea es para  para activar el motor de plantillas en spring boot en  el html-->
<head>
    <meta charset="UTF-8">
    <title>APP-SPRING-BOOT</title>
    <a href="exportar.jsp">Exportar</a>
</head>
<body>

<p>Aprendiendo Spring-Boot</p>

</body>
</html>